title= title
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/bootstrap-responsive.css')
script(type='text/javascript', src='/js/util/analytics.js')
script(data-main='js/app.js', src='js/libs/require.js')